stepfunctions_sprint2_definition.json
{
  "Comment": "Sprint 2 Enhanced: Topics Queue + AI Enrichment Pipeline",
  "StartAt": "GetNextTopic",
  "States": {
    "GetNextTopic": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Get next pending topic from Topics Queue for this channel",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-topics-get-next",
        "Payload": {
          "user_id.$": "$.user_id",
          "channel_id.$": "$.channel_id"
        }
      },
      "ResultSelector": {
        "data.$": "$.Payload"
      },
      "ResultPath": "$.topicResult",
      "Next": "CheckTopicAvailable",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.topicError",
          "Next": "NoTopicAvailable"
        }
      ]
    },
    "CheckTopicAvailable": {
      "Type": "Choice",
      "Comment": "Check if a topic was found",
      "Choices": [
        {
          "Variable": "$.topicResult.data.success",
          "BooleanEquals": true,
          "Next": "BuildEnrichedMasterConfig"
        }
      ],
      "Default": "NoTopicAvailable"
    },
    "NoTopicAvailable": {
      "Type": "Pass",
      "Comment": "No pending topics in queue - end execution",
      "Result": {
        "success": false,
        "message": "No pending topics available for this channel"
      },
      "End": true
    },
    "BuildEnrichedMasterConfig": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Build MasterConfig with Sprint 2 AI enrichment (Topic Analyzer + Context + DNA + Wikipedia)",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-build-master-config",
        "Payload": {
          "user_id.$": "$.user_id",
          "channel_id.$": "$.channel_id",
          "topic_id.$": "$.topicResult.data.topic.topic_id"
        }
      },
      "ResultSelector": {
        "data.$": "$.Payload"
      },
      "ResultPath": "$.masterConfigResult",
      "Next": "UpdateTopicToInProgress",
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ]
    },
    "UpdateTopicToInProgress": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Mark topic as 'in_progress'",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-topics-update-status",
        "Payload": {
          "channel_id.$": "$.channel_id",
          "topic_id.$": "$.topicResult.data.topic.topic_id",
          "new_status": "in_progress"
        }
      },
      "ResultPath": "$.statusUpdateResult",
      "Next": "GenerateNarrativeWithEnrichment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.statusUpdateError",
          "Next": "GenerateNarrativeWithEnrichment"
        }
      ]
    },
    "GenerateNarrativeWithEnrichment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Generate narrative using enriched MasterConfig (with topic_analysis, story_dna, context, facts)",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-narrative",
        "Payload": {
          "master_config.$": "$.masterConfigResult.data.master_config"
        }
      },
      "ResultSelector": {
        "data.$": "$.Payload"
      },
      "ResultPath": "$.narrativeResult",
      "Next": "Phase2Parallel",
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.narrativeError",
          "Next": "MarkTopicFailed"
        }
      ]
    },
    "Phase2Parallel": {
      "Type": "Parallel",
      "Comment": "Generate Images and Audio in parallel",
      "ResultPath": "$.phase2Results",
      "Branches": [
        {
          "Comment": "Branch A: Image Generation",
          "StartAt": "GenerateImages",
          "States": {
            "GenerateImages": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-generate-images",
                "Payload": {
                  "image_prompts.$": "$.narrativeResult.data.image_prompts",
                  "content_id.$": "$.narrativeResult.data.narrative_id"
                }
              },
              "ResultSelector": {
                "data.$": "$.Payload"
              },
              "ResultPath": "$.imagesResult",
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.imagesError",
                  "Next": "ImagesFailed"
                }
              ]
            },
            "ImagesFailed": {
              "Type": "Pass",
              "Result": {
                "data": {
                  "scene_images": []
                }
              },
              "ResultPath": "$.imagesResult",
              "End": true
            }
          }
        },
        {
          "Comment": "Branch B: Audio Generation",
          "StartAt": "GenerateAudio",
          "States": {
            "GenerateAudio": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-audio-qwen3tts",
                "Payload": {
                  "scenes.$": "$.narrativeResult.data.scenes",
                  "content_id.$": "$.narrativeResult.data.narrative_id"
                }
              },
              "ResultSelector": {
                "data.$": "$.Payload"
              },
              "ResultPath": "$.audioResult",
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.audioError",
                  "Next": "AudioFailed"
                }
              ]
            },
            "AudioFailed": {
              "Type": "Pass",
              "Result": {
                "data": {
                  "audio_files": []
                }
              },
              "ResultPath": "$.audioResult",
              "End": true
            }
          }
        }
      ],
      "Next": "SaveContent",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.phase2Error",
          "Next": "MarkTopicFailed"
        }
      ]
    },
    "SaveContent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Save generated content to DynamoDB",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-save-result",
        "Payload": {
          "channel_id.$": "$.channel_id",
          "user_id.$": "$.user_id",
          "content_id.$": "$.narrativeResult.data.narrative_id",
          "narrative_data.$": "$.narrativeResult.data",
          "audio_files.$": "$.phase2Results[1].audioResult.data.audio_files",
          "generated_images.$": "$.phase2Results[0].imagesResult.data.scene_images",
          "master_config.$": "$.masterConfigResult.data.master_config"
        }
      },
      "ResultSelector": {
        "data.$": "$.Payload"
      },
      "ResultPath": "$.saveResult",
      "Next": "AssembleVideo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.saveError",
          "Next": "MarkTopicFailed"
        }
      ]
    },
    "AssembleVideo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Assemble final video from narrative + images + audio",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-video-assembly",
        "Payload": {
          "content_id.$": "$.narrativeResult.data.narrative_id",
          "channel_id.$": "$.channel_id"
        }
      },
      "ResultSelector": {
        "data.$": "$.Payload"
      },
      "ResultPath": "$.videoResult",
      "Next": "MarkTopicCompleted",
      "TimeoutSeconds": 900,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.videoError",
          "Next": "MarkTopicCompleted"
        }
      ]
    },
    "MarkTopicCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Mark topic as 'completed'",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-topics-update-status",
        "Payload": {
          "channel_id.$": "$.channel_id",
          "topic_id.$": "$.topicResult.data.topic.topic_id",
          "new_status": "completed",
          "result_metadata": {
            "content_id.$": "$.narrativeResult.data.narrative_id",
            "video_url.$": "$.videoResult.data.video_url"
          }
        }
      },
      "ResultPath": "$.finalStatusUpdate",
      "Next": "Success"
    },
    "MarkTopicFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Mark topic as 'failed' if errors occurred",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-topics-update-status",
        "Payload": {
          "channel_id.$": "$.channel_id",
          "topic_id.$": "$.topicResult.data.topic.topic_id",
          "new_status": "failed",
          "error_message.$": "$.narrativeError.Error"
        }
      },
      "ResultPath": "$.failedStatusUpdate",
      "Next": "Failure"
    },
    "Success": {
      "Type": "Pass",
      "Comment": "Pipeline completed successfully",
      "Result": {
        "success": true,
        "message": "Content generated successfully with Sprint 2 enrichment"
      },
      "End": true
    },
    "Failure": {
      "Type": "Pass",
      "Comment": "Pipeline failed",
      "Result": {
        "success": false,
        "message": "Content generation failed"
      },
      "End": true
    }
  }
}
