updated-stepfunctions.json
{
    "Comment": "Content Generator with TTS - Theme → Narrative → Audio",
    "StartAt": "GetActiveChannels",
    "States": {
        "GetActiveChannels": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-get-channels",
                "Payload": {}
            },
            "ResultPath": "$.channelsResult",
            "Next": "ForEachChannel"
        },
        "ForEachChannel": {
            "Type": "Map",
            "ItemsPath": "$.channelsResult.Payload",
            "Iterator": {
                "StartAt": "QueryTitles",
                "States": {
                    "QueryTitles": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-query-titles",
                            "Payload": {
                                "channel_id.$": "$.channel_id",
                                "config_id.$": "$.config_id",
                                "channel_name.$": "$.channel_name",
                                "genre.$": "$.genre"
                            }
                        },
                        "ResultPath": "$.queryResult",
                        "Next": "ThemeAgent"
                    },
                    "ThemeAgent": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-theme-agent",
                            "Payload": {
                                "channel_id.$": "$.channel_id",
                                "channel_name.$": "$.channel_name",
                                "genre.$": "$.genre",
                                "titles.$": "$.queryResult.Payload.titles"
                            }
                        },
                        "ResultPath": "$.themeResult",
                        "Next": "SelectTopic"
                    },
                    "SelectTopic": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-select-topic",
                            "Payload": {
                                "channel_id.$": "$.channel_id",
                                "generated_titles.$": "$.themeResult.Payload.generated_titles"
                            }
                        },
                        "ResultPath": "$.selectResult",
                        "Next": "NarrativeArchitect"
                    },
                    "NarrativeArchitect": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-narrative",
                            "Payload": {
                                "channel_id.$": "$.channel_id",
                                "selected_topic.$": "$.selectResult.Payload.selected_topic"
                            }
                        },
                        "ResultPath": "$.narrativeResult",
                        "Next": "GenerateAudio"
                    },
                    "GenerateAudio": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-audio-tts",
                            "Payload": {
                                "channel_id.$": "$.channel_id",
                                "narrative_id.$": "$.narrativeResult.Payload.narrative_id",
                                "story_title.$": "$.narrativeResult.Payload.story_title",
                                "scenes.$": "$.narrativeResult.Payload.scenes"
                            }
                        },
                        "ResultPath": "$.audioResult",
                        "Next": "SaveResult",
                        "Comment": "Generate audio from narrative scenes using AWS Polly"
                    },
                    "SaveResult": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-save-result",
                            "Payload": {
                                "channel_id.$": "$.channel_id",
                                "topic.$": "$.selectResult.Payload.selected_topic",
                                "narrative.$": "$.narrativeResult.Payload.narrative_content",
                                "audio_files.$": "$.audioResult.Payload.audio_files",
                                "audio_duration_sec.$": "$.audioResult.Payload.total_duration_sec",
                                "status": "completed"
                            }
                        },
                        "End": true
                    }
                }
            },
            "End": true
        }
    }
}
