archive/deprecated-tts-2026-02-10/step-functions-tts-provider-routing.json
{
  "Comment": "🎤 TTS Provider Routing State - Insert this into Phase3AudioAndSave Iterator",
  "StartAt": "GetTTSConfig",
  "States": {
    "GetTTSConfig": {
      "Type": "Pass",
      "Comment": "Extract TTS configuration from channel config",
      "Parameters": {
        "channel_id.$": "$.channel_id",
        "narrative_id.$": "$.narrativeResult.Payload.narrative_id",
        "story_title.$": "$.narrativeResult.Payload.story_title",
        "scenes.$": "$.narrativeResult.Payload.scenes",
        "tts_service.$": "$.tts_service",
        "tts_voice_profile.$": "$.tts_voice_profile",
        "elevenlabs_model.$": "$.elevenlabs_model"
      },
      "ResultPath": "$.ttsConfig",
      "Next": "RouteTTSProvider"
    },
    "RouteTTSProvider": {
      "Type": "Choice",
      "Comment": "🔀 Route to appropriate TTS provider based on tts_service",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ttsConfig.tts_service",
              "StringEquals": "aws_polly_neural"
            },
            {
              "Variable": "$.ttsConfig.tts_service",
              "StringEquals": "aws_polly_standard"
            },
            {
              "Variable": "$.ttsConfig.tts_service",
              "StringEquals": "aws_polly"
            }
          ],
          "Next": "GenerateAudioPolly"
        },
        {
          "Variable": "$.ttsConfig.tts_service",
          "StringEquals": "elevenlabs",
          "Next": "GenerateAudioElevenLabs"
        },
        {
          "Variable": "$.ttsConfig.tts_service",
          "StringEquals": "google_tts",
          "Next": "GenerateAudioGoogle"
        }
      ],
      "Default": "GenerateAudioPolly"
    },
    "GenerateAudioPolly": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "🎙️ AWS Polly TTS (Neural/Standard)",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-audio-polly",
        "Payload": {
          "channel_id.$": "$.ttsConfig.channel_id",
          "narrative_id.$": "$.ttsConfig.narrative_id",
          "story_title.$": "$.ttsConfig.story_title",
          "scenes.$": "$.ttsConfig.scenes",
          "tts_service.$": "$.ttsConfig.tts_service",
          "tts_voice_profile.$": "$.ttsConfig.tts_voice_profile"
        }
      },
      "ResultPath": "$.audioResult",
      "Next": "SaveFinalContent",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.audioError",
          "Next": "AudioGenerationFailed"
        }
      ]
    },
    "GenerateAudioElevenLabs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "🎙️ ElevenLabs TTS",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-audio-elevenlabs",
        "Payload": {
          "channel_id.$": "$.ttsConfig.channel_id",
          "narrative_id.$": "$.ttsConfig.narrative_id",
          "story_title.$": "$.ttsConfig.story_title",
          "scenes.$": "$.ttsConfig.scenes",
          "tts_service": "elevenlabs",
          "tts_voice_profile.$": "$.ttsConfig.tts_voice_profile",
          "elevenlabs_model.$": "$.ttsConfig.elevenlabs_model"
        }
      },
      "ResultPath": "$.audioResult",
      "Next": "SaveFinalContent",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.audioError",
          "Next": "FallbackToPolly"
        }
      ]
    },
    "GenerateAudioGoogle": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "🎙️ Google Cloud TTS (Future)",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-audio-google",
        "Payload": {
          "channel_id.$": "$.ttsConfig.channel_id",
          "narrative_id.$": "$.ttsConfig.narrative_id",
          "story_title.$": "$.ttsConfig.story_title",
          "scenes.$": "$.ttsConfig.scenes",
          "tts_service": "google_tts",
          "tts_voice_profile.$": "$.ttsConfig.tts_voice_profile"
        }
      },
      "ResultPath": "$.audioResult",
      "Next": "SaveFinalContent",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.audioError",
          "Next": "FallbackToPolly"
        }
      ]
    },
    "FallbackToPolly": {
      "Type": "Pass",
      "Comment": "⚠️ Fallback to AWS Polly if other providers fail",
      "Parameters": {
        "message": "Primary TTS provider failed, falling back to AWS Polly",
        "error.$": "$.audioError"
      },
      "ResultPath": "$.fallbackInfo",
      "Next": "GenerateAudioPollyFallback"
    },
    "GenerateAudioPollyFallback": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "🆘 Fallback: AWS Polly TTS",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-audio-polly",
        "Payload": {
          "channel_id.$": "$.ttsConfig.channel_id",
          "narrative_id.$": "$.ttsConfig.narrative_id",
          "story_title.$": "$.ttsConfig.story_title",
          "scenes.$": "$.ttsConfig.scenes",
          "tts_service": "aws_polly_neural",
          "tts_voice_profile": "matthew_male"
        }
      },
      "ResultPath": "$.audioResult",
      "Next": "SaveFinalContent",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.finalAudioError",
          "Next": "AudioGenerationFailed"
        }
      ]
    },
    "AudioGenerationFailed": {
      "Type": "Fail",
      "Error": "AudioGenerationError",
      "Cause": "All TTS providers failed to generate audio"
    },
    "SaveFinalContent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-central-1:599297130956:function:content-save-result",
        "Payload": {
          "channel_id.$": "$.channel_id",
          "content_id.$": "$.narrativeResult.Payload.narrative_id",
          "selected_topic": {
            "title.$": "$.themeResult.Payload.generated_titles[0]"
          },
          "narrative_data": {
            "story_title.$": "$.narrativeResult.Payload.story_title",
            "scenes.$": "$.narrativeResult.Payload.scenes",
            "character_count.$": "$.narrativeResult.Payload.character_count",
            "scene_count.$": "$.narrativeResult.Payload.scene_count"
          },
          "audio_files.$": "$.audioResult.Payload.audio_files",
          "voice_id.$": "$.audioResult.Payload.voice_id",
          "voice_profile.$": "$.audioResult.Payload.voice_profile",
          "tts_service.$": "$.audioResult.Payload.tts_service",
          "tts_provider.$": "$.audioResult.Payload.provider",
          "generated_images.$": "$.scene_images",
          "config_id.$": "$.config_id",
          "model.$": "$.narrativeResult.Payload.model",
          "genre.$": "$.narrativeResult.Payload.genre"
        }
      },
      "ResultPath": "$.saveResult",
      "Next": "EstimateVideoDuration"
    },
    "EstimateVideoDuration": {
      "Type": "Pass",
      "Comment": "... continues with existing EstimateVideoDuration logic ...",
      "End": true
    }
  }
}
